<!doctype html>
<html ng-app="task01">

<head>


	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<!-- Wijmo styles and core (required) -->
<link href="https://cdn.grapecity.com/wijmo/5.20191.603/styles/wijmo.min.css" rel="stylesheet"/>
<!-- 
    optionally use a custom theme instead of wijmo.min.css
    <link href="https://cdn.grapecity.com/wijmo/5.20191.603/styles/themes/wijmo.theme.modern.min.css" rel="stylesheet"/>
-->
<script src="https://cdn.grapecity.com/wijmo/5.20191.603/controls/wijmo.min.js"></script>

<!-- Wijmo controls (optional, include the controls you need) -->
<script src="https://cdn.grapecity.com/wijmo/5.20191.603/controls/wijmo.grid.min.js"></script>
<script src="https://cdn.grapecity.com/wijmo/5.20191.603/controls/wijmo.chart.min.js"></script>
<script src="https://cdn.grapecity.com/wijmo/5.20191.603/controls/wijmo.input.min.js"></script>
<script src="https://cdn.grapecity.com/wijmo/5.20191.603/controls/wijmo.gauge.min.js"></script>

<!-- Wijmo custom culture (optional, include the culture you want) -->
<script src="https://cdn.grapecity.com/wijmo/5.20191.603/controls/cultures/wijmo.culture.ja.min.js"></script>

<!-- AngularJS and Wijmo framework interop (optional, could be Angular/React/Vue/etc) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdn.grapecity.com/wijmo/5.20191.603/interop/angular/wijmo.angular.min.js"></script>
<script src="../js/controller/task01.js"></script>
<!-- apply your Wijmo licenseKey  (optional) -->
	<style>
		@media (min-width: 768px) {
			.modal-dialog {
				width: 900px;
				margin: 30px auto;
			}
		}
	</style>
</head>

<body>
	<div ng-controller="task01Controller" class=" container-fluid">
		<h2>TASK01</h2>
		<hr>
		<div class="col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					Bài 1./ Tính tổng chữ số(vd: 2345 = 2+3+4+5 = 14)
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
						<div class="zcontrols row">
							
						</div>
						<div class="table-responsive">
								Nhập chữ số:
								<input type="text">
								<button class="btn btn-primary">Kết quả</button>
								Tổng số : 30
						</div>
					</form>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					Bài 2./ Yêu cầu tham khảo "yeucau_task02_20190827"
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
						<div class="zcontrols row">
							
						</div>
						<div class="table-responsive">
							chọn :
							<select class="form-control">
								<option value=""> ----</option>
								<option  value="id">id</option>
								<option  value="userID">userID</option>
							</select>
							<button class="btn btn-primary">Kiểm tra</button>
							có <span>3</span>  <span>userID</span> được tìm thấy
						</div>
					</form>
				</div>
			</div>
			<div class="panel panel-info">
					<div class="panel-heading">
						Bài 3./ Nhập vào yyyy/mm bắt đàu và yyyy/mm kết thúc, hiển thị yyyy/mm nằm trong khoản yyyy/mm bắt đàu và yyyy/mm kết thúc
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
							<div class="zcontrols row">
								
							</div>
							<div class="table-responsive">
								<p>
									yyyy/mm bắt đàu:
									<input type="text">
									yyyy/mm kết thúc:
									<input type="text">
								</p>
								<p>
									<button class="btn btn-primary">Kết quả</button>
								</p>
								<div class="row">
									<div class="col-md-1">
										<a class="thumbnail">
											yyyy/mm
										</a>
									</div>
								    <div class="col-md-1">
										<a class="thumbnail">
											yyyy/mm
										</a>
									</div>
									<div class="col-md-1">
										<a class="thumbnail">
											yyyy/mm
										</a>
									</div>
									<div class="col-md-1">
										<a class="thumbnail">
											yyyy/mm
										</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
		</div>


		<!-- Modal Edit-->
		<div id="myModalEdit" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update User</h4>
					</div>
					<div class="modal-body">
						<div id="container">
							<form role="form">
								<div class="form-group">
									<label>User ID hau</label>
									<input class="form-control" data-ng-model="addnew.userId" value="">
								</div>
								<div class="form-group">
									<label>Name</label>
									<input class="form-control" ng-model="addnew.name">
								</div>
								<div class="form-group">
									<label>title</label>
									<input class="form-control" type="text" value="">
								</div>
								<div class="form-group">
									<label>completed</label>
									<select name="completed" ng-model="addnew.completed" value="" class="form-control" >
										<option value="">----</option>
										<option ng-selected="addnew.completed" value="true">true</option>
										<option ng-selected="addnew.completed" value="false">false</option>
									</select>
								</div>
								<!-- <div class="form-group">
											<label>Content</label>
											<textarea class="form-control" name="content" rows="2"  id="content_ck" ></textarea>
										</div> -->

								<input class="form-control" name="id" value="" type="hidden">

								<button type="submit" class="btn btn-primary">update </button>
								<a type="button" href="admin123/item/" class="btn btn-default">Cancel</a>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Modal Edit-->


		<!-- Modal Add new-->
		<div id="myModalAdd" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update User</h4>
					</div>
					<div class="modal-body">
						<div id="container">
							<form role="form">
								<div class="form-group">
									<label>User ID</label>
									<input class="form-control" value="">
								</div>
								<div class="form-group">
									<label>Name</label>
									<input class="form-control" value="">
								</div>
								<div class="form-group">
									<label>title</label>
									<input class="form-control" type="text" value="">
								</div>
								<div class="form-group">
									<label>completed</label>
									<select name="completed" class="form-control">
										<option value="">----</option>
										<option value="true">true</option>
										<option value="false">false</option>
									</select>
								</div>
								<!-- <div class="form-group">
												<label>Content</label>
												<textarea class="form-control" name="content" rows="2"  id="content_ck" ></textarea>
											</div> -->

								<input class="form-control" name="id" value="" type="hidden">

								<button type="submit" class="btn btn-primary">Add </button>
								<a type="button" href="admin123/item/" class="btn btn-default">Cancel</a>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Modal Add new-->
	</div>


</body>

</html>